<!DOCTYPE html>
<html>
  <head>
    <style type="text/css">
      html, body { height: 100%; margin: 0; padding: 0; }
      #map { height: 100%; }
    </style>
  </head>
  <body>
    <div id="map"></div>
    <script type="text/javascript">

var map;
function initMap() {
  map = new google.maps.Map(document.getElementById('map'), {
    center: {lat: 39.916262043096786, lng: 116.40217636108399},
    zoom: 11
  });
}

    </script>
    <script async defer
      src="http://ditu.google.cn/maps/api/js?key=AIzaSyD9AHoSo4e9QJWW9vY4WHx4mqJntVhlS0U&callback=initMap">
    </script>
  </body>
</html>