<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>韩诚教育网</title>

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">

    <!-- Custom Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="font-awesome/css/font-awesome.min.css" type="text/css">

    <!-- Plugin CSS -->
    <link rel="stylesheet" href="css/animate.min.css" type="text/css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="css/creative.css" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top">

    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">韩诚韩国语</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" href="/">首页</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#intro">走进韩诚</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#teacher">讲师介绍</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#lesson">课程介绍</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#lecture">讲义教程</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">联系我们</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header Carousel -->
    <header id="myCarousel" class="carousel slide">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item active">
                <div class="fill" style="background-image:url('http://ac-xm5nwdhd.clouddn.com/339646952037f50d.jpg');"></div>
                <div class="carousel-caption">
                    <h2>韩诚教育网</h2>
                    <a href="#intro" class="btn btn-primary btn-xl page-scroll">走进韩诚</a>
                </div>

            </div>
            <div class="item">
                <div class="fill" style="background-image:url('http://ac-xm5nwdhd.clouddn.com/8411916d6f2bae7c.jpg');"></div>
                <div class="carousel-caption">
                    <h2>韩诚教育网</h2>
                    <a href="#intro" class="btn btn-primary btn-xl page-scroll">走进韩诚</a>
                </div>
            </div>
            <div class="item">
                <div class="fill" style="background-image:url('http://ac-xm5nwdhd.clouddn.com/51a430b99bf4c83f.jpg');"></div>
                <div class="carousel-caption">
                    <h2>韩诚教育网</h2>
                    <a href="#intro" class="btn btn-primary btn-xl page-scroll">走进韩诚</a>
                </div>
            </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="icon-prev"></span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="icon-next"></span>
        </a>
    </header>

    <header>
        <div class="header-content" id="intro">
            <div class="header-content-inner">
                <h1>欢迎来到韩诚教育网</h1>
                <hr>
                <p>韩诚教育是致力于打造“与韩国同步”的韩国语教学机构。参照韩国各大知名大学所属语学堂的课程设置以及韩国语学习者对留学、工作、考级等的具体需求，我们制定出一系列系统、实用的韩国语课程。在教材的选用方面，我们从韩国现地大学所属语学堂所使用的最新教材中精心挑选，选择了口碑最好的基本教学教材，帮助学生巩固学习内容，同时有助于韩国语能力考试的辅助阅读教材，以及具有针对性的韩国语会话教材，让学生不出国门也能享受到韩国现地的精品教学服务。在师资方面，我们更是聘请了韩国大学国语专业出身并有着丰富教学经验的老师为学生授课，为学生打造不输于国内大学韩国语专业的学习条件。</p>
                <p>韩诚教育本着抱诚守真的教育理念，在教学上诚信治学，在服务上竭诚相待，同时也衷心希望各位同学的韩国语学习能够诚至金开。</p>
                <a href="#teacher" class="btn btn-primary btn-xl page-scroll">更多资讯</a>
            </div>
        </div>
    </header>

    <section class="bg-primary" id="teacher">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <b><h2 class="section-heading">讲师介绍</h2></b>
                    <hr class="light">
                    <b>
                    <p>魏玮，韩国仁荷大学韩国语文学专业(第二专业中国语中文学)学士，韩国仁荷大学大学院韩国学系韩国语学专业硕士，现于韩国仁荷大学大学院韩国学系韩国语学专业攻读博士课程，句法与语义学方向。曾在仁川市政府主管的文化中心以及韩国最大的外语教学机构任汉语讲师，现任仁荷大学古朝鲜研究所翻译。</p>
                    <p>魏老师有着8年的网络韩国语教学经验，尤其擅长语法教学。深厚的专业功底是其进行系统、专业教学的基石，而多年的韩国留学生活经验则使其教学内容不拘泥于课本，使学生在打好坚实的语法基础的同时能够灵活运动所学知识点，并在学习韩国语的同时了解韩国的社会文化。</p>
                    <p>魏老师同时有着5年的韩国现地汉语教学经验，能够提前预测到学生在学习外语时可能会出现的失误以及会遇到的难点，从而做出有备无患的教学计划，并在教学的过程中针对每一名学生的实际情况及时调整教学策略，真正实现点对点的教学。</p>
                    </b>
                    <a href="#lesson" class="btn btn-default btn-xl">扬帆出海</a>
                </div>
            </div>
        </div>
    </section>

    <section id="lesson">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">课程介绍</h2>
                    <hr class="primary">
                    <b><p>《延世韩国语》韩国延世大学语学堂正规课程所使用的基本教材。延世大学语学堂在对外韩国语教学方面享誉韩国，其制定的课程系统、实用，并且顺应时代潮流与社会的发展及时对教材进行更新。我们所使用的《延世韩国语》教材延世大学语学堂所使用的最新版教材，目前只在韩国发行。</p></b>

                    <h3>Level 1</h3>
                    <p>针对零基础学生，帮助其完全熟悉韩国文字与发音。学习韩国语的基本发音体系，韩国语的基本语法结构、时制以及简单的句式。通过学习基本问候、自我介绍、点餐、购物、问路、打电话等内容，使学生具备生活上所必须的基本语言能力。</p>

                    <h3>Level 2</h3>
                    <p>帮助熟练掌握韩国语的每个发音以及音韵规则，能够准确地发好句子中的每一个音。学习简短的复句，重点学习尊敬语与间接引语，通过每一课不同主题的对话帮助学生提高在饮食、邮局、旅行等方面的语言能力，使学生能够在日常生活中较为流畅地进行交流。</p>

                    <h3>Level 3</h3>
                    <p>帮助学生达到能够适应韩国生活的韩国语交流水平。通过学习分段短文与较为复杂的对话来理解韩国人的思维方式，提高词汇量。通过写作练习提高语法与词汇使用的准确度。</p>

                    <h3>Level 4</h3>
                    <p>四级学习是由中级过渡向高级的准备阶段，在这个阶段的学习中，将着重培养学生的表达能力，能够通过较长的句子来表达自己的对不同主题意见。这个阶段的学习内容也更为丰富，学生要学习并理解较长篇幅的文章，同时理解韩国的社会和文化。</p>

                    <h3>Level 5</h3>
                    <p>学习人文、社会、科学、艺术等专业领域的对话，通过对新闻、报刊等事实资料的学习，培养学生在表达自己意见时的逻辑性。通过教育、职业、经济、大众文化、传统等主题内容，帮助学生理解韩国式的价值观。</p>
        
                    <h3>Level 6</h3>
                    <p>通过韩国社会文化方面的专业资料来扩大学生的词汇量，熟悉韩国人的思维方式，使学生具备可以听懂韩国大学讲义内容的韩国语能力，并能就社会文化等某个领域的问题进行讨论。同时培养学生在理解韩国历史时所需的韩国语能力。</p>

                </div>
            </div>
        </div>
    </section>

    <!-- Header Carousel -->
    <header id="lessonCarousel" class="carousel slide">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#lessonCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#lessonCarousel" data-slide-to="1"></li>
            <li data-target="#lessonCarousel" data-slide-to="2"></li>
            <li data-target="#lessonCarousel" data-slide-to="3"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item active">
                <div class="fill" style="background-image:url('http://ac-xm5nwdhd.clouddn.com/6a1571d4fe47cbd2.jpg');"></div>
                <div class="carousel-caption">
                    <h2>课程介绍</h2>
                    <a href="#intro" class="btn btn-primary btn-xl page-scroll">走进韩诚</a>
                </div>

            </div>
            <div class="item">
                <div class="fill" style="background-image:url('http://ac-xm5nwdhd.clouddn.com/80b352390de6f373.jpg');"></div>
                <div class="carousel-caption">
                    <h2>课程介绍</h2>
                    <a href="#intro" class="btn btn-primary btn-xl page-scroll">走进韩诚</a>
                </div>
            </div>
            <div class="item">
                <div class="fill" style="background-image:url('http://ac-xm5nwdhd.clouddn.com/12c2201aec55d35a.jpg');"></div>
                <div class="carousel-caption">
                    <h2>课程介绍</h2>
                    <a href="#intro" class="btn btn-primary btn-xl page-scroll">走进韩诚</a>
                </div>
            </div>
            <div class="item">
                <div class="fill" style="background-image:url('http://ac-xm5nwdhd.clouddn.com/fbc53c6e5088db10.jpg');"></div>
                <div class="carousel-caption">
                    <h2>课程介绍</h2>
                    <a href="#intro" class="btn btn-primary btn-xl page-scroll">走进韩诚</a>
                </div>
            </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#lessonCarousel" data-slide="prev">
            <span class="icon-prev"></span>
        </a>
        <a class="right carousel-control" href="#lessonCarousel" data-slide="next">
            <span class="icon-next"></span>
        </a>
    </header>

    <section class="bg-primary" id="lecture">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">讲义教程</h2>
                    <hr class="light">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">延世韩国语阅读</h2>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row no-gutter">
                <div class="col-lg-2 col-sm-6">
                    <a href="/no" class="portfolio-box">
                        <img src="http://ac-9dv47dhd.clouddn.com/ff7cd875468fa6ff.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    延世韩国语阅读1
                                </div>
                                <div class="project-name">
                                    独家教材
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-2 col-sm-6">
                    <a href="/no" class="portfolio-box">
                        <img src="http://ac-9dv47dhd.clouddn.com/3fcb12906b6dfbf1.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    延世韩国语阅读2
                                </div>
                                <div class="project-name">
                                    独家教材
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-2 col-sm-6">
                    <a href="/menu?bk=read&bid=3" class="portfolio-box">
                        <img src="http://ac-9dv47dhd.clouddn.com/58ea438f39e86446.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    延世韩国语阅读3
                                </div>
                                <div class="project-name">
                                    独家教材
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-2 col-sm-6">
                    <a href="/no" class="portfolio-box">
                        <img src="http://ac-9dv47dhd.clouddn.com/74724958b3d9b16b.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    延世韩国语阅读4
                                </div>
                                <div class="project-name">
                                    独家教材
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-2 col-sm-6">
                    <a href="/no" class="portfolio-box">
                        <img src="http://ac-9dv47dhd.clouddn.com/4ca7ca07ce1855e4.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    延世韩国语阅读5
                                </div>
                                <div class="project-name">
                                    独家教材
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-2 col-sm-6">
                    <a href="/no" class="portfolio-box">
                        <img src="http://ac-9dv47dhd.clouddn.com/b31b78cce0eedb7f.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    延世韩国语阅读6
                                </div>
                                <div class="project-name">
                                    独家教材
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>

    <aside class="bg-dark">
        <div class="container text-center">
            <div class="call-to-action">
                <h2>开启学习韩国语之旅</h2>
                <a href="#lesson" class="btn btn-default btn-xl wow tada">出发!</a>
            </div>
        </div>
    </aside>

    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">联系我们!</h2>
                    <hr class="primary">
                    <p>韩诚韩国语将全程为您提供贴心服务</p>
                </div>
                <div class="col-lg-4 col-lg-offset-2 text-center">
                    <i class="fa fa-phone fa-3x wow bounceIn"></i>
                    <p>YY频道号：66156811</p>
                </div>
                <div class="col-lg-4 text-center">
                    <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                    <p><a href="mailto:via8429@naver.com">via8429@naver.com</a></p>
                </div>
            </div>
        </div>
    </section>

    <div id="page">
     <div id="header"><h1>header</h1></div> 
        <div id="body" >
            <h1>content top -> when scrolling up the box should STOP here (at the line right above this text)</h1>
            <div id="dialog" title="课程咨询">现在报名 <p>学习工具下载</p> </div>

            <span style="position: absolute; bottom: 0; ">content bottom -> when scrolling down the box should STOP here (at the line right below this text)</span>

        </div>
        <div id="footer"><h1>footer</h1></div>
        <div id="debug"></div>
    </div>

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <link href="https://code.jquery.com/ui/1.8.24/themes/smoothness/jquery-ui.css" rel="stylesheet" type="text/css"/>
 
    <script src="https://code.jquery.com/ui/1.8.24/jquery-ui.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="js/jquery.easing.min.js"></script>
    <script src="js/jquery.fittext.js"></script>
    <script src="js/wow.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="js/creative.js"></script>
    <!-- Script to Activate the Carousel -->
    <script>
        $('#myCarousel').carousel({
            interval: 3000 //changes the speed
        })
    </script>
    <script>
        $('#introCarousel').carousel({
            interval: 3000 //changes the speed
        })
    </script>
    <script type="text/javascript">
        var $d;
        $(document).ready(function(){
            var $header = $("#header");
            
            var dlg_width = 150;
            var dlg_height = 400;
            var dlg_offset_x = 10;//$("#page").width() - dlg_width + 100;
            var dlg_margin_top = $("#header").outerHeight(true); // includeMargins=true
            var dlg_margin_bottom = $("#footer").outerHeight(true); // includeMargins=true
            
            $d = $('#dialog').dialog({
                width: dlg_width,
                height: dlg_height,
                position: [dlg_offset_x, dlg_margin_top]
            });

            
            $(window).bind('scroll', function(evt){
                var scrollTop = $(window).scrollTop();
                var bottom = $(document).height() - scrollTop;
                    $d.dialog("option", {"position": [
                        dlg_offset_x,
                        ((dlg_margin_top - scrollTop > 0) ?
                            dlg_margin_top - scrollTop :
                                ((bottom - dlg_height > dlg_margin_bottom) ?
                                    0 :
                                    bottom - dlg_height - dlg_margin_bottom
                                )
                        )
                    ]});
            });
        });
    </script>
</body>

</html>
