<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>四海为家</title>

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">

    <!-- Custom Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="font-awesome/css/font-awesome.min.css" type="text/css">

    <!-- Plugin CSS -->
    <link rel="stylesheet" href="css/animate.min.css" type="text/css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="css/creative.css" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top">

    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">四海为家</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" href="/">首页</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/map">搜索</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about">关于</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#services">服务</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#portfolio">资料</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">联系</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <header>
        <div class="header-content">
            <div class="header-content-inner">
                <h1>一站式服务，海外置业更简单</h1>
                <hr>
                <p>从拨打电话开始，四海为家将全程为您提供贴心服务：前期咨询-考察前辅导-至尊考察之旅-客户确认购房意向-律师专业咨询-购房前材料准备-房产过户-税务咨询-旅行咨询-语言咨询-子女留学咨询-房产买卖-物业管理服务。</p>
                <a href="#about" class="btn btn-primary btn-xl page-scroll">更多资讯</a>
            </div>
        </div>
    </header>

    <section class="bg-primary" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">贴心服务，解决海外置业“难题”</h2>
                    <hr class="light">
                    <p class="text-faded">五年优质无忧，期间维修、托管，物业等问题一律免费咨询提供终身会员服务，一次买房终身受益，让您的海外置业更简单购买我们的任一海外房产，因法律原因无法办理停产过户，我们承诺全额退款</p>
                    <a href="/map" class="btn btn-default btn-xl">扬帆出海</a>
                </div>
            </div>
        </div>
    </section>

    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">为您服务</h2>
                    <hr class="primary">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-university wow bounceIn text-primary"></i>
                        <h3>新房</h3>
                        <p class="text-muted">精品楼盘一网打尽</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".1s"></i>
                        <h3>二手房</h3>
                        <p class="text-muted">佣金全网最低只收0.8%,100%真房源</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-newspaper-o wow bounceIn text-primary" data-wow-delay=".2s"></i>
                        <h3>金融</h3>
                        <p class="text-muted">贷款,众筹,分期付,只有想不到没有做不到</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i>
                        <h3>卖房</h3>
                        <p class="text-muted">卖房管家贴心服务</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="no-padding" id="portfolio">
        <div class="container-fluid">
            <div class="row no-gutter">
                <div class="col-lg-4 col-sm-6">
                    <a href="/map?k=la" class="portfolio-box">
                        <img src="https://z1.muscache.com/ic/pictures/84438740/bd265550_original.jpg?interpolation=lanczos-none&size=x_medium&output-format=jpg&output-quality=70" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    美国
                                </div>
                                <div class="project-name">
                                    洛杉矶
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="/map?k=va" class="portfolio-box">
                        <img src="https://z1.muscache.com/ic/pictures/96446829/eab92bab_original.jpg?interpolation=lanczos-none&size=x_medium&output-format=jpg&output-quality=70" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    加拿大
                                </div>
                                <div class="project-name">
                                    温哥华
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="/map?k=lo" class="portfolio-box">
                        <img src="https://z0.muscache.com/ic/pictures/71197555/4831047b_original.jpg?interpolation=lanczos-none&size=x_medium&output-format=jpg&output-quality=70" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    英国
                                </div>
                                <div class="project-name">
                                    伦敦
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="/map?k=ba" class="portfolio-box">
                        <img src="https://z0.muscache.com/ic/pictures/98558288/93df12d1_original.jpg?interpolation=lanczos-none&size=x_medium&output-format=jpg&output-quality=70" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    西班牙
                                </div>
                                <div class="project-name">
                                    巴塞罗那
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="/map?k=sy" class="portfolio-box">
                        <img src="https://z0.muscache.com/ic/pictures/60800866/cdc69cd6_original.jpg?interpolation=lanczos-none&size=x_medium&output-format=jpg&output-quality=70" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    澳大利亚
                                </div>
                                <div class="project-name">
                                    悉尼
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="/map?k=pa" class="portfolio-box">
                        <img src="https://z0.muscache.com/ic/pictures/74047861/958ec4c6_original.jpg?interpolation=lanczos-none&size=x_medium&output-format=jpg&output-quality=70" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    法国
                                </div>
                                <div class="project-name">
                                    巴黎
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>

    <aside class="bg-dark">
        <div class="container text-center">
            <div class="call-to-action">
                <h2>开启海外置家之旅</h2>
                <a href="/map" class="btn btn-default btn-xl wow tada">出发!</a>
            </div>
        </div>
    </aside>

    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">联系我们!</h2>
                    <hr class="primary">
                    <p>从拨打电话开始，四海为家将全程为您提供贴心服务</p>
                </div>
                <div class="col-lg-4 col-lg-offset-2 text-center">
                    <i class="fa fa-phone fa-3x wow bounceIn"></i>
                    <p>123-456-6789</p>
                </div>
                <div class="col-lg-4 text-center">
                    <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                    <p><a href="mailto:feedback@shwj.com">feedback@shwj.com</a></p>
                </div>
            </div>
        </div>
    </section>

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="js/jquery.easing.min.js"></script>
    <script src="js/jquery.fittext.js"></script>
    <script src="js/wow.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="js/creative.js"></script>

</body>

</html>
