<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>韩诚韩国语</title>

    {% block headjs %}{% endblock headjs %}

</head>

<body id="page-top">

    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">韩诚韩国语</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" href="/">首页</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/#intro">走进韩诚</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/#teacher">讲师介绍</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/#lesson">课程介绍</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/#lecture">讲义教程</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/#contact">联系我们</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    {% block body %}{% endblock %}

    {% block tailjs %}{% endblock tailjs %}

</body>

</html>
