{% extends "layout.html" %}
{% block headjs %}
		<link href="m/css/bootstrap.min.css" rel="stylesheet">
		<!--[if lt IE 9]>
			<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
    <link href="m/css/styles.css" rel="stylesheet">
{% endblock headjs %}
{% block title %}地图视角{% endblock %}
{% block body %}
<div id="map-canvas"></div>
<div class="container-fluid" id="main">
  <div class="row">
  	<div class="col-xs-4" id="left">
    
      <h2>Bootstrap Google Maps Demo</h2>
      
      <!-- item list -->
      <div class="panel panel-default">
        <div class="panel-heading"><a href="">Item heading</a></div>
      </div>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate. 
        Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis 
        dolor, in sagittis nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan. 
        Aliquam in felis sit amet augue.</p>
      
      <hr>
      
      <div class="panel panel-default">
        <div class="panel-heading"><a href="">Item heading</a></div>
      </div>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate. 
        Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis 
        dolor, in sagittis nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan. 
        Aliquam in felis sit amet augue.</p>
      
      <hr>
      
      <div class="panel panel-default">
        <div class="panel-heading"><a href="">Item heading</a></div>
      </div>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate. 
        Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis 
        dolor, in sagittis nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan. 
        Aliquam in felis sit amet augue.</p>
      
      <hr>
      
      <div class="panel panel-default">
        <div class="panel-heading"><a href="">Item heading</a></div>
      </div>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate. 
        Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis 
        dolor, in sagittis nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan. 
        Aliquam in felis sit amet augue.</p>
      
      <hr>
      <!-- /item list -->
      
      <p>
      <a href="http://www.bootply.com/render/129229">Demo</a> | <a href="http://bootply.com/129229">Source Code</a>
      </p>
      
      <hr> 
        
      <p>
      <a href="http://bootply.com" target="_ext" class="center-block btn btn-primary">More Bootstrap Snippets on Bootply</a>
      </p>
        
      <hr>      

    </div>
    <div class="col-xs-4"><!--map-canvas will be postioned here--></div>
    
  </div>
</div>
{% endblock %}
<!-- end template -->

{% block tailjs %}
	<!-- script references -->
		<script src="//cdn.bootcss.com/jquery/2.0.2/jquery.min.js"></script>
		<script src="m/js/bootstrap.min.js"></script>
		<script src="http://ditu.google.cn/maps/api/js?sensor=false&extension=.js&output=embed&language=zh-CN"></script>
    {#
		<script src="m/js/scripts.js"></script>
    #}	
    <script>
      $(document).ready(function(){/* google maps -----------------------------------------------------*/
      google.maps.event.addDomListener(window, 'load', initialize);

      var houses = [
        {% for h in houses %}
          ['{{ h[0] }}', {{ h[1] }}, {{ h[2] }}, {{ h[3] }}, '{{ h[4] }}'],
        {% endfor %}
      ];

      function initialize() {

        /* position Amsterdam */
        var latlng = new google.maps.LatLng({{ lat }}, {{ lng }});

        var mapOptions = {
          center: latlng,
          scrollWheel: false,
          zoom: 9
        };
        
        var marker = new google.maps.Marker({
          position: latlng,
          url: '/',
          animation: google.maps.Animation.DROP
        });

        var image = {
          url: 'ico-size-big.png',
          // This marker is 20 pixels wide by 32 pixels high.
          size: new google.maps.Size(25, 25),
          // The origin for this image is (0, 0).
          origin: new google.maps.Point(0, 0),
          // The anchor for this image is the base of the flagpole at (0, 32).
          anchor: new google.maps.Point(0, 25)
        };

        var shape = {
          coords: [1, 1, 1, 20, 18, 20, 18, 1],
          type: 'poly'
        };
        
        var map = new google.maps.Map(document.getElementById("map-canvas"), mapOptions);
        marker.setMap(map);

        for (var i = 0; i < houses.length; i++) {
          var house = houses[i];
          var contentString = '<div id="content">'+
                '<div id="siteNotice">'+
                '</div>'+
                '<img border="0" src="'+
                house[4]+
                '" width="120" height="100" alt="...">'+
                '<h1 id="firstHeading" class="firstHeading">'+
                house[0]+
                '</h1>'+
                '<div id="bodyContent">'+
                '<p><b>'+
                house[0]+
                '</b>, 各种房产信息...</p>'+
                '</div>'+
                '</div>';
          var infowindow = new google.maps.InfoWindow({
            content: contentString
          });
          var mkr = new google.maps.Marker({
            position: {lat: house[1], lng: house[2]},
            map: map,
            icon: image,
            shape: shape,
            title: house[0],
            zIndex: house[3],
            animation: google.maps.Animation.DROP
          });
          
          google.maps.event.addListener(mkr,'click', (function(mkr,content,infowindow){ 
              return function() {
                  infowindow.setContent(content);
                  infowindow.open(map,mkr);
              };
          })(mkr,contentString,infowindow)); 
        }

      };
      /* end google maps -----------------------------------------------------*/
      });
    </script>
{% endblock tailjs %}