{% extends "layout.html" %}
{% block headjs %}
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/creative.css" rel="stylesheet">
{% endblock headjs %}
{% block title %}建设中{% endblock %}
{% block body %}
    <header>
        <div class="header-content" id="intro">
            <div class="header-content-inner">
                {% for d in data %}
                <h1>{{ d[0] }}</h1>
                <hr>
                    {% for t in d[1] %}
                    <a href="{{ t[1] }}"><h3>{{ t[0] }}</h3></a>
                    {% endfor %}
                {% endfor %}    
            </div>
        </div>
    </header>
{% endblock %}